<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <hr>
      <h2 matSubheader>Main menu</h2>
      <a mat-list-item href="#"><mat-icon matListIcon class="app-nav-list-icon">dashboard</mat-icon>Dashboard</a>
      <a mat-list-item href="#"><mat-icon matListIcon class="app-nav-list-icon"></mat-icon>Orders</a>
      <a mat-list-item href="#"><mat-icon matListIcon class="app-nav-list-icon"></mat-icon>Customers</a>
      <a mat-list-item href="#"><mat-icon matListIcon class="app-nav-list-icon"></mat-icon>Reports</a>
      <a mat-list-item href="#"><mat-icon matListIcon class="app-nav-list-icon"></mat-icon>Integrations</a>
      <hr>
      <h2 matSubheader>Saved reports</h2>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SpringTabTest</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
