<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="mt-3"><img src="/assets/images/spring-tab-logo.png"></mat-toolbar>
    <mat-nav-list>
      <h2 matSubheader>Main menu</h2>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active"><mat-icon matListIcon class="app-nav-list-icon mr-1">dashboard</mat-icon>Dashboard</a>
      <a mat-list-item routerLink="orders" routerLinkActive="active"><mat-icon matListIcon class="app-nav-list-icon mr-1">shopping_cart</mat-icon>Orders</a>
      <a mat-list-item routerLink="customers" routerLinkActive="active"><mat-icon matListIcon class="app-nav-list-icon mr-1">people</mat-icon>Customers</a>
      <a mat-list-item href="#"><mat-icon matListIcon class="app-nav-list-icon mr-1">equalizer</mat-icon>Reports</a>
      <a mat-list-item href="#"><mat-icon matListIcon class="app-nav-list-icon mr-1">layers</mat-icon>Integrations</a>
      <hr>
      <h2 matSubheader>Saved reports</h2>
      <a mat-list-item href="#"><mat-icon matListIcon class="app-nav-list-icon mr-1">assignment</mat-icon>Current month</a>
      <a mat-list-item href="#"><mat-icon matListIcon class="app-nav-list-icon mr-1">assignment</mat-icon>Last quarter</a>
      <a mat-list-item href="#"><mat-icon matListIcon class="app-nav-list-icon mr-1">assignment</mat-icon>Year-end sale</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SpringTabTest</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
